/*
-----------------
    mobile first макет - макет стилизовался
    изначально под мобильную верстку и
    дорабатывался для разрешений побольше.
-----------------
 */

/* основные стили и типография */
html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: OpenSans;
    font-weight: bold;
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
    font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
    font-family: OpenSans;
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-color: #b59f5b;
}

input {
    outline: 0px;
}

form > button {
    height: 50px;
    border: none;
    background: var(--main-color);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-transform: uppercase;
}

button:hover {
    background-color: #000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

.title {
    /* Все заголовки в верхнем регистре */
    text-transform: uppercase;
}


/* Шапочка */
.navigation {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 33px;
    width: 100%;
    min-height: 640px;
    background-image: url("../images/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.header:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #0009;
    z-index: -1;
}

.header a {
    height: 100%;
    width: 268px;
    margin-top: 225px;
}

.header img.header-logo-image {
    width: 100%;
}

.header-burger {
    position: absolute;
    top: 27px;
    right: 13px;
    width: 30px;
}

.header-title {
    color: #fff;
    text-align: center;
    font-size: 26px;
    line-height: 35px;
    padding-top: 33px;
    width: 280px;
}

.container {
    width: inherit;
}

/* Тренды > Заголовок */

.section-title {
    margin-bottom: 35px;
    text-align: center;
    position: relative;
    font-size: 1.6rem;
    line-height: 27px;
}

.section-title:after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 65px;
    border-bottom: 3px solid var(--main-color);
}

/* Тренды > Карточки */

.wrap-trends-banner {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 2px;
}

.trends-banner {
    position: relative;
    display: flex;
    min-height: 232px;
    padding: 15px 17px 15px 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.trends-banner::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #0007;
    z-index: -1;
}

.tr-content {
    width: 100%;
    padding: 28px 20px 29px 20px;
    align-self: flex-end;
    border: 3px solid var(--main-color);
}

.tags-list {
    margin-bottom: 8px;
}

.tags-list li {
    display: inline-block;
    margin-right: 17px;
}

.tags-list a {
    color: var(--main-color);
    font-size: 14px;
}

.article-title a {
    font-size: 16px;
    color: #fff;
    line-height: 19px;
}

.article-title a:hover {
    color: var(--main-color);
}

/* Тренды > Карточки > BG ссылки */

.trend1 {
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend1.jpg?raw=true");
}

.trend2 {
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend2.jpg?raw=true");
}

.trend3 {
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend3.jpg?raw=true");
}

.trend4 {
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend4.jpg?raw=true");
}

/* Main */
.main-container {
    margin-top: 42px;
    padding: 0px 15px;
}

/* Main > article */

.main-article {
    margin-bottom: 56px;
}

.main-article img {
    width: 100%;
}

.main-article ul li a:hover {
    text-decoration: underline;
}

.main-article > .article-content {
    margin-top: 8px;
}

.article-content .article-title a {
    color: #000;
}

.article-content .article-title a:hover {
    color: var(--main-color);
}

.meta-items p {
    display: inline-block;
    font-size: 1.1em;
    margin-top: 18px;
    margin-bottom: 16px;
}

.time {
    color: #888;
    margin-right: 5px;
}

.article-text {
    font-size: 1.4em;
    font-weight: normal;
    line-height: 21px;
}

/* aside */


/* aside > Last post section */

.section-main-style {
    margin-top: 35px;
}

.aside-article {
    display: flex;
    margin-bottom: 20px;
}

.aside-article img {
    max-width: 100%;
    height: 72px;
    margin-right: 16px;
}

.aside-article > .article-content .post-time {
    font-size: 1.2em;
    line-height: 12px;
    font-weight: normal;
}

.aside-article > .article-content .article-title a {
    font-size: 1.4em;
    line-height: 20px;
}

/* Форма поиска */

.search-section {
    margin-top: 57px;
}

.search-form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-label-area {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    background-color: #f4f7f6;
    color: #888;
    border: none;
}

.input-label-area:focus {
    border: 1px solid var(--main-color);
}

.search-form > button {
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
    background-size: 20px;
    background-image: url("../svg/search.svg");
}

.search-form > button:hover {
    background-color: #000;
}

/* Рассылка Email */

.follow-submit {
    margin-top: 13px;
    width: 100%;
}

/* Теги */
.tags-section > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tags-section a {
    color: #000;
}

.tags-section > ul li {
    display: inline-block;
    border: 3px solid #eee;
    padding: 2px 9px;
    margin-right: 0px;
    font-size: 1.2em;
}

.tags-section > ul li:hover {
    border: 3px solid var(--main-color);
}

/* Темы */

.themes-section {
    margin-top: 41px;
}

.themes-section > ul {
    margin-top: -19px;
}

.themes-section > ul li {
    display: block;
    padding: 10px 0px;
}

.themes-section > ul li a {
    font-size: 1.4em;
    line-height: 22px;
    text-transform: capitalize;
    color: #000;
}

.themes-section > ul li a:hover {
    color: var(--main-color);
}

.themes-section span {
    color: var(--main-color);
    vertical-align: super;
}

/* Товары */

.product-section {
    padding: 0px 15px;
    margin-top: 38px;
}

.product {
    margin-bottom: 25px;
}

/* Товары > Фон */

.product-image {
    margin-right: auto;
    margin-left: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 86%;
    min-height: 286px;
}

.image-1 {
    background-image: url("../images/shop-item-mobile1.jpg");
}

.image-2 {
    background-image: url("../images/shop-item-mobile2.jpg");
}

.image-3 {
    background-image: url("../images/shop-item-mobile3.jpg");
}

/* Товар > Описание */

.product-bordered {
    margin-top: -30px;
    padding: 28px 15px;
    border: 3px solid #b59f5b99;
    min-height: 219px;
}

.product-title {
    text-transform: uppercase;
    font-size: 1.7em;
    margin-top: 19px;
    margin-bottom: 5px;
}

.product-description {
    font-size: 1.5rem;
    font-weight: normal;
}

.product-description a {
    text-transform: lowercase;
    font-size: 1.5rem;
    color: var(--main-color);
}

.product-description a:hover {
    text-decoration: underline;
}

/* Товары > Корзина */

.price-items {
    display: flex;
    margin-top: 20px;
}

.sale {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.sale-price {
    font-size: 1.4em;
    text-decoration: line-through;
}

.price {
    font-size: 2.1em;
}

.cart {
    width: 100%;
    height: 50px;
    border: none;
    background: var(--main-color);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-transform: uppercase;
}

/* Подвал */

.footer {
    margin-top: 40px;
    padding: 0px 15px;
}

/* Подвал > ссылки */
.socials {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 25px;
    background-color: #f4f7f6;
}

.social-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.social-dribbble {
    background-image: url("../svg/001-dribbble.svg");
}

.social-pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

.social-tamblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyright {
    display: block;
    color: #999;
    font-size: 1.1em;
    margin: 45px 0px;
    text-align: center;
}

@media ( min-width: 360px ) and ( orientation: landscape ) {
    .wrap-trends-banner {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .trends-banner {
        width: calc(50% - 2px);
    }
}

@media (min-width: 768px) {

    .header {
        flex-direction: column;
        min-height: 392px;
        background-image: url("../images/banner-bg-tablet.jpg");
        margin-bottom: 44px;
    }

    .header.container {
        padding: 43px 35px 0px 35px;
    }

    .header a {
        width: 158px;
        align-self: baseline;
        margin-top: 0px;
    }

    .header-burger {
        top: 47px;
        right: 31px;
    }

    .header-title {
        margin-right: auto;
        margin-left: auto;
        font-size: 41px;
        line-height: 54px;
        letter-spacing: -1px;
        padding: 88px 0px;
        width: 89%;
    }

    /* Тренды > Заголовок */
    .section-title {
        font-size: 1.8rem;
        margin-bottom: 28px;
    }

    .wrap-trends-banner {
        margin-top: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;
    }

    .trends-banner {
        padding: 15px 20px 15px 20px;
        width: calc(50% - 2px);
        min-height: 246px;
    }

    .tr-content {
        padding: 35px 45px 30px 32px;
    }

    /* Main */
    .main-container {
        display: flex;
        margin-top: 52px;
        padding: 0px 35px;
    }

    .main {
        min-width: 56%;
        margin-right: 5%;
    }

    /* Main > article */
    .main-article {
        margin-bottom: 41px;
        padding-bottom: 18px;
        border-bottom: 3px solid #eee;
    }

    .article-title a {
        line-height: 22px;
    }

    .article-content > .article-text {
        margin-bottom: 15px;
    }

    .article-content > .article-text:last-child {
        margin-bottom: 0px;
    }

    .meta-items p {
        font-size: 1.2rem;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /*  aside  */
    .aside {
        width: 270px;
        flex-shrink: 0;
    }

    .aside .section-title {
        font-size: 1.4rem;
    }

    .section-main-style:first-child {
        margin-top: 0px;
    }

    /* Рассылка Email */
    .follow-section {
        margin-top: 53px;
    }

    /* Теги */
    .tags-section {
        margin-top: 57px;
    }

    .tags-section > ul {
        padding-top: 7px;
        gap: 12px;
    }

    .tags-section > ul li {
        padding: 1px 12px;
    }

    .tags-section a {
        font-size: 1em;
    }

    /* Темы */
    .themes-section {
        margin-top: 56px;
    }

    /* Товары */
    .product-section {
        margin-top: 1px;
    }

    .product-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 10px 20px;
    }

    .product {
        width: calc(50% - 10px);
        margin-bottom: 0px;
    }

    /* Товары > Фон */
    .product-image {
        max-width: 86%;
        min-height: 227px;
    }

    .product:last-child .product-bordered {
        min-height: 246px;
    }

    .image-1 {
        background-image: url("../images/shop-item-tablet1.jpg");
    }

    .image-2 {
        background-image: url("../images/shop-item-tablet2.jpg");
    }

    .image-3 {
        background-image: url("../images/shop-item-tablet3.jpg");
    }

    /* Товар > Описание */
    .product-bordered {
        margin-top: -33px;
        padding: 32px 19px;
        min-height: 264px;
    }

    /* Подвал */
    .footer {
        padding: 0px 35px;
    }

}

@media (min-width: 1200px) {
    .header {
        background-image: url("../images/banner-bg.jpg");
        min-height: 449px;
        position: relative;
        margin-bottom: 57px;
    }

    .header.container {
        padding: 29px 15%;
    }

    .header-burger {
        display: none;
    }

    .header a {
        width: 178px;
    }

    .navigation {
        display: block;
        position: absolute;
        top: 40px;
        right: 14.7%;
        font-size: 1.3rem;
    }

    .navigation a {
        font-weight: normal;
        color: #fff;
    }

    .navigation ul {
        display: flex;
        gap: 35px;
    }

    .navigation a:hover {
        text-decoration: underline;
    }

    .nav-list {
        display: flex;
    }

    .header-title {
        width: 730px;
        font-size: 45px;
        line-height: 75px;
        letter-spacing: 0px;
        padding: 99px 0px;
    }

    .section-title {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .trends-banner {
        width: calc(25% - 3px);
        min-height: 320px;
        padding: 20px;
    }

    .tr-content {
        padding: 33px;
    }

    .tr-content .article-title a {
        font-size: 20px;
        line-height: 22px;
    }


    /* Main */
    .main-container {
        max-width: 1200px;
        margin-top: 63px;
        margin-right: auto;
        margin-left: auto;
        padding: 0px 15px;
    }

    .main {
        min-width: 56%;
        margin-right: 120px;
    }

    /* Main > article */
    .main-article {
        display: flex;
    }

    /* Main > article */
    .main-article {
        margin-bottom: 39px;
    }

    .main-article img {
        width: 100%;
        max-width: 381px;
        min-width: 381px;
        min-height: 294px;
        margin-right: 30px;
    }

    .main-article > .article-content {
        margin: 0;
    }

    .main-article .tags-list {
        margin-bottom: 7px;
    }

    .article-title a {
        font-size: 20px;
    }

    .meta-items p {
        margin-top: 32px;
        margin-bottom: 45px;
    }

    .article-text {
        font-size: 1.5rem;
        line-height: 20px;
    }

    /* aside */
    .aside .section-title {
        margin-bottom: 28px;
    }

    /* Рассылка Email */
    .follow-section {
        margin-top: 53px;
    }

    .aside .follow-section h4 {
        margin-bottom: 33px;
    }

    /* Теги */
    .tags-section {
        margin-top: 53px;
    }

    /* Товары */
    .product-wrapper {
        gap: 65px;
        justify-content: center;
    }

    .product {
        width: calc(25% - 51px);
    }

    .product-section > h4 {
        margin-bottom: 28px;
    }

    /* Товары > Фон */
    .product-image {
        min-height: 205px;
    }

    .image-1 {
        background-image: url("../images/shop-item-desk1.jpg");
    }

    .image-2 {
        background-image: url("../images/shop-item-desk2.jpg");
    }

    .image-3 {
        background-image: url("../images/shop-item-desk3.jpg");
    }

    /* Товар > Описание */
    .product-title {
        font-size: 2em;
        margin-top: 17px;
    }

    .product:last-child .product-bordered {
        min-height: 266px;
    }

    /* Подвал */
    .footer {
        margin-top: 53px;
    }

    .copyright {
        margin: 70px 0px;
    }
}
